<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Airhuby</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1><a href="/" class="scrollto">Airhuby</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="#about">Giới thiệu</a></li>
        <li><a href="#services">Dịch vụ</a></li>
        <li><a href="#skills">Kỹ năng</a></li>
        <li><a href="#partner">Đối tác</a></li>
        <li><a href="#contact">Liên hệ</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro">
  <div class="intro-container">
    <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
          <div class="carousel-background"><img src="img/intro-carousel/1.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>MAKE IT AWESOME WITH US!</h2>
              <p>Chúng tôi không ngừng hoàn thiện, trở thành nền tảng cho sự phát triển dịch vụ toàn cầu. </p>
              <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-background"><img src="img/intro-carousel/2.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>A Leading Company In Software</h2>
              <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-background"><img src="img/intro-carousel/3.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>Software OutSourcing</h2>
              <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-background"><img src="img/intro-carousel/4.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>Môi trường làm việc thân thiện,sáng tạo.</h2>
              <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-background"><img src="img/intro-carousel/5.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>Đội ngũ IT nhiệt huyết.</h2>
              <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section><!-- #intro -->

<main id="main">

  <!--==========================
    Featured Services Section
  ============================-->
  <section id="featured-services">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 box">
          <i class="ion-ios-bookmarks-outline"></i>
          <h4 class="title" style="color: #1c7430">Năng động, sáng tạo</h4>
          <p class="description">Sáng tạo là giá trị cốt lõi dẫn đến thành công!</p>
        </div>

        <div class="col-lg-4 box box-bg">
          <i class="ion-ios-stopwatch-outline"></i>
          <h4 class="title" style="color: #1c7430">Chuyên nghiệp giờ giấc</h4>
          <p class="description">Tạo thói quen làm việc chuyên nghiệp theo quy định của công ty</p>
        </div>

        <div class="col-lg-4 box">
          <i class="ion-ios-heart-outline"></i>
          <h4 class="title" style="color: #1c7430">Làm việc hết mình</h4>
          <p class="description">Hãy làm việc hết mình thành công sẽ đến với bạn!</p>
        </div>

      </div>
    </div>
  </section><!-- #featured-services -->

  <!--==========================
    About Us Section
  ============================-->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>Về chúng tôi</h3>
      </header>

      <div class="row about-cols">

        <div class="col-md-4 wow fadeInUp">
          <div class="about-col">
            <div class="img">
              <img src="img/about-mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            </div>
            <h2 class="title" style="color: #1e7e34">Software Development</h2>
            <p>
              OUTSOURCING, PRODUCT VÀ R&D
              Ứng dụng mô hình khởi nghiệp Lean startup và Agile, hợp tác thành công với rất nhiều start-up công nghệ và các công ty lớn để phát triển các dự án phần mềm yêu cầu tốc độ, đổi mới và sáng tạo.
            </p>
          </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="about-col">
            <div class="img">
              <img src="img/about-plan.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-list-outline"></i></div>
            </div>
            <h2 class="title" style="color: #1e7e34">Business Development</h2>
            <br>
            Xây dựng các sản phẩm của riêng mình và tìm kiếm cơ hội phát hành nó như một start-up độc lập.</br></br>
              Đầu tư, hỗ trợ và xây dựng business mớ
            </p>
          </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
          <div class="about-col">
            <div class="img">
              <img src="img/about-vision.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-eye-outline"></i></div>
            </div>
            <h2 class="title" style="color: #1e7e34">Human Development</h2>
            <p>
              Đào tạo đội ngũ IT Toàn cầu thông qua hợp tác với các trường đại học hàng đầu Châu Á. Triển khai khóa đào tạo tuyển dụng phát triển nhân lực IT với trình độ Nhật ngữ tại các trường Đại học top đầu tại Việt Nam.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services">
    <div class="container">

      <header class="section-header wow fadeInUp">
        <h3>Dịch vụ </h3>
      </header>

      <div class="row">

        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <h4 class="title" style="color: #1e7e34">Mobile Development</h4>
          <p class="description">Chúng tôi tập trung phát triển các ứng dụng di động đa nền tảng như: Android/IOS cho các thị trường nước ngoài như: Nhật Bản,Singapore...</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
          <h4 class="title" style="color: #1e7e34">Web Development</h4>
          <p class="description">Phát triển ứng dụng Internet tốc độ cao trên nền tảng web như: thương mại điện tử ,web tin tức, web chia sẻ ảnh,du lịch,.. </p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title" style="color: #1e7e34">Graphic Design</h4>
          <p class="description">Sáng tạo,thiết kế giao diện bắt mắt,thân thiện với khách hàng phục vụ mục đích quảng cáo thương hiệu ra thị trường.</p>
        </div>
      </div>

    </div>
  </section><!-- #services -->


  <!--==========================
    Skills Section
  ============================-->
  <section id="skills">
    <div class="container">

      <header class="section-header">
        <h3>Thế mạnh,kỹ năng</h3>
      </header>

      <div class="skills-content">

        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <span class="skill">Android, IOS <i class="val">100%</i></span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <span class="skill">NodeJS, PHP, Python <i class="val">100%</i></span>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
            <span class="skill">Blockchain, AI, Machine Learning  <i class="val">90%</i></span>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
            <span class="skill">IOT <i class="val">85%</i></span>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            <span class="skill">Photoshop,Design Graphic <i class="val">80%</i></span>
          </div>
        </div>

      </div>

    </div>
  </section>


  <!--&lt;!&ndash;==========================-->
    <!--Portfolio Section-->
  <!--============================&ndash;&gt;-->
  <!--<section id="portfolio"  class="section-bg" >-->
    <!--<div class="container">-->

      <!--<header class="section-header">-->
        <!--<h3 class="section-title">Our Portfolio</h3>-->
      <!--</header>-->

      <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
          <!--<ul id="portfolio-flters">-->
            <!--<li data-filter="*" class="filter-active">All</li>-->
            <!--<li data-filter=".filter-app">App</li>-->
            <!--<li data-filter=".filter-card">Card</li>-->
            <!--<li data-filter=".filter-web">Web</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="row portfolio-container">-->

        <!--<div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">-->
          <!--<div class="portfolio-wrap">-->
            <!--<figure>-->
              <!--<img src="img/portfolio/app1.jpg" class="img-fluid" alt="">-->
              <!--<a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>-->
              <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
            <!--</figure>-->

            <!--<div class="portfolio-info">-->
              <!--<h4><a href="#">App 1</a></h4>-->
              <!--<p>App</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">-->
          <!--<div class="portfolio-wrap">-->
            <!--<figure>-->
              <!--<img src="img/portfolio/web3.jpg" class="img-fluid" alt="">-->
              <!--<a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>-->
              <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
            <!--</figure>-->

            <!--<div class="portfolio-info">-->
              <!--<h4><a href="#">Web 3</a></h4>-->
              <!--<p>Web</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">-->
          <!--<div class="portfolio-wrap">-->
            <!--<figure>-->
              <!--<img src="img/portfolio/app2.jpg" class="img-fluid" alt="">-->
              <!--<a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>-->
              <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
            <!--</figure>-->

            <!--<div class="portfolio-info">-->
              <!--<h4><a href="#">App 2</a></h4>-->
              <!--<p>App</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">-->
          <!--<div class="portfolio-wrap">-->
            <!--<figure>-->
              <!--<img src="img/portfolio/card2.jpg" class="img-fluid" alt="">-->
              <!--<a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>-->
              <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
            <!--</figure>-->

            <!--<div class="portfolio-info">-->
              <!--<h4><a href="#">Card 2</a></h4>-->
              <!--<p>Card</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">-->
          <!--<div class="portfolio-wrap">-->
            <!--<figure>-->
              <!--<img src="img/portfolio/web2.jpg" class="img-fluid" alt="">-->
              <!--<a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>-->
              <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
            <!--</figure>-->

            <!--<div class="portfolio-info">-->
              <!--<h4><a href="#">Web 2</a></h4>-->
              <!--<p>Web</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">-->
          <!--<div class="portfolio-wrap">-->
            <!--<figure>-->
              <!--<img src="img/portfolio/app3.jpg" class="img-fluid" alt="">-->
              <!--<a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>-->
              <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
            <!--</figure>-->

            <!--<div class="portfolio-info">-->
              <!--<h4><a href="#">App 3</a></h4>-->
              <!--<p>App</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">-->
          <!--<div class="portfolio-wrap">-->
            <!--<figure>-->
              <!--<img src="img/portfolio/card1.jpg" class="img-fluid" alt="">-->
              <!--<a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>-->
              <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
            <!--</figure>-->

            <!--<div class="portfolio-info">-->
              <!--<h4><a href="#">Card 1</a></h4>-->
              <!--<p>Card</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">-->
          <!--<div class="portfolio-wrap">-->
            <!--<figure>-->
              <!--<img src="img/portfolio/card3.jpg" class="img-fluid" alt="">-->
              <!--<a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>-->
              <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
            <!--</figure>-->

            <!--<div class="portfolio-info">-->
              <!--<h4><a href="#">Card 3</a></h4>-->
              <!--<p>Card</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">-->
          <!--<div class="portfolio-wrap">-->
            <!--<figure>-->
              <!--<img src="img/portfolio/web1.jpg" class="img-fluid" alt="">-->
              <!--<a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>-->
              <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
            <!--</figure>-->

            <!--<div class="portfolio-info">-->
              <!--<h4><a href="#">Web 1</a></h4>-->
              <!--<p>Web</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

    <!--</div>-->
  <!--</section>&lt;!&ndash; #portfolio &ndash;&gt;-->

  <!--==========================
    Clients Section
  ============================-->
  <section id="partner"  >
    <div class="container">
      <header class="section-header">
        <h3>Đối tác</h3>
      </header>

      <div class="owl-carousel clients-carousel">
        <img src="img/best.png" style="width: 100px; height: 100px" alt="Hệ sinh thái khởi nghiệp BestB">
        <img src="img/kohi.jpg" style="width: 100px; height: 100px"  alt="Trung tâm dạy tiếng Nhật Kohi">
        <img src="img/so.png"  style="width: 100px; height: 100px"  alt="Sở Công Nghệ Thông Tin & Truyền Thông">
        <img src="img/vietsoftware.png" style="width: 100px; height: 100px"  alt="Công ty gia công phần mềm VietsoftWare">
        <img src="img/best.png" style="width: 100px; height: 100px"  alt="Hệ sinh thái khởi nghiệp BestB">
        <img src="img/kohi.jpg" style="width: 100px; height: 100px"   alt="Trung tâm dạy tiếng Nhật Kohi">
        <img src="img/so.png" style="width: 100px; height: 100px"  alt="Sở Công Nghệ Thông Tin & Truyền Thông">
        <img src="img/vietsoftware.png" style="width: 100px; height: 100px"  alt="Công ty gia công phần mềm VietsoftWare">
      </div>
    </div>
  </section><!-- #clients -->

  <!--&lt;!&ndash;==========================-->
    <!--Clients Section-->
  <!--============================&ndash;&gt;-->
  <!--<section id="testimonials" class="section-bg wow fadeInUp">-->
    <!--<div class="container">-->

      <!--<header class="section-header">-->
        <!--<h3>Testimonials</h3>-->
      <!--</header>-->

      <!--<div class="owl-carousel testimonials-carousel">-->

        <!--<div class="testimonial-item">-->
          <!--<img src="img/testimonial-1.jpg" class="testimonial-img" alt="">-->
          <!--<h3>Saul Goodman</h3>-->
          <!--<h4>Ceo &amp; Founder</h4>-->
          <!--<p>-->
            <!--<img src="img/quote-sign-left.png" class="quote-sign-left" alt="">-->
            <!--Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.-->
            <!--<img src="img/quote-sign-right.png" class="quote-sign-right" alt="">-->
          <!--</p>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<img src="img/testimonial-2.jpg" class="testimonial-img" alt="">-->
          <!--<h3>Sara Wilsson</h3>-->
          <!--<h4>Designer</h4>-->
          <!--<p>-->
            <!--<img src="img/quote-sign-left.png" class="quote-sign-left" alt="">-->
            <!--Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.-->
            <!--<img src="img/quote-sign-right.png" class="quote-sign-right" alt="">-->
          <!--</p>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<img src="img/testimonial-3.jpg" class="testimonial-img" alt="">-->
          <!--<h3>Jena Karlis</h3>-->
          <!--<h4>Store Owner</h4>-->
          <!--<p>-->
            <!--<img src="img/quote-sign-left.png" class="quote-sign-left" alt="">-->
            <!--Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.-->
            <!--<img src="img/quote-sign-right.png" class="quote-sign-right" alt="">-->
          <!--</p>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<img src="img/testimonial-4.jpg" class="testimonial-img" alt="">-->
          <!--<h3>Matt Brandon</h3>-->
          <!--<h4>Freelancer</h4>-->
          <!--<p>-->
            <!--<img src="img/quote-sign-left.png" class="quote-sign-left" alt="">-->
            <!--Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.-->
            <!--<img src="img/quote-sign-right.png" class="quote-sign-right" alt="">-->
          <!--</p>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<img src="img/testimonial-5.jpg" class="testimonial-img" alt="">-->
          <!--<h3>John Larson</h3>-->
          <!--<h4>Entrepreneur</h4>-->
          <!--<p>-->
            <!--<img src="img/quote-sign-left.png" class="quote-sign-left" alt="">-->
            <!--Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.-->
            <!--<img src="img/quote-sign-right.png" class="quote-sign-right" alt="">-->
          <!--</p>-->
        <!--</div>-->

      <!--</div>-->

    <!--</div>-->
  <!--</section>&lt;!&ndash; #testimonials &ndash;&gt;-->

  <!--==========================
    Team Section
  ============================-->
  <!--<section id="team">-->
    <!--<div class="container">-->
      <!--<div class="section-header wow fadeInUp">-->
        <!--<h3>Team</h3>-->
        <!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
      <!--</div>-->

      <!--<div class="row">-->

        <!--<div class="col-lg-3 col-md-6 wow fadeInUp">-->
          <!--<div class="member">-->
            <!--<img src="img/team-1.jpg" class="img-fluid" alt="">-->
            <!--<div class="member-info">-->
              <!--<div class="member-info-content">-->
                <!--<h4>Walter White</h4>-->
                <!--<span>Chief Executive Officer</span>-->
                <!--<div class="social">-->
                  <!--<a href=""><i class="fa fa-twitter"></i></a>-->
                  <!--<a href=""><i class="fa fa-facebook"></i></a>-->
                  <!--<a href=""><i class="fa fa-google-plus"></i></a>-->
                  <!--<a href=""><i class="fa fa-linkedin"></i></a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">-->
          <!--<div class="member">-->
            <!--<img src="img/team-2.jpg" class="img-fluid" alt="">-->
            <!--<div class="member-info">-->
              <!--<div class="member-info-content">-->
                <!--<h4>Sarah Jhonson</h4>-->
                <!--<span>Product Manager</span>-->
                <!--<div class="social">-->
                  <!--<a href=""><i class="fa fa-twitter"></i></a>-->
                  <!--<a href=""><i class="fa fa-facebook"></i></a>-->
                  <!--<a href=""><i class="fa fa-google-plus"></i></a>-->
                  <!--<a href=""><i class="fa fa-linkedin"></i></a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">-->
          <!--<div class="member">-->
            <!--<img src="img/team-3.jpg" class="img-fluid" alt="">-->
            <!--<div class="member-info">-->
              <!--<div class="member-info-content">-->
                <!--<h4>William Anderson</h4>-->
                <!--<span>CTO</span>-->
                <!--<div class="social">-->
                  <!--<a href=""><i class="fa fa-twitter"></i></a>-->
                  <!--<a href=""><i class="fa fa-facebook"></i></a>-->
                  <!--<a href=""><i class="fa fa-google-plus"></i></a>-->
                  <!--<a href=""><i class="fa fa-linkedin"></i></a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
          <!--<div class="member">-->
            <!--<img src="img/team-4.jpg" class="img-fluid" alt="">-->
            <!--<div class="member-info">-->
              <!--<div class="member-info-content">-->
                <!--<h4>Amanda Jepson</h4>-->
                <!--<span>Accountant</span>-->
                <!--<div class="social">-->
                  <!--<a href=""><i class="fa fa-twitter"></i></a>-->
                  <!--<a href=""><i class="fa fa-facebook"></i></a>-->
                  <!--<a href=""><i class="fa fa-google-plus"></i></a>-->
                  <!--<a href=""><i class="fa fa-linkedin"></i></a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

    <!--</div>-->
  <!--</section>&lt;!&ndash; #team &ndash;&gt;-->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

      <div class="section-header">
        <h3>Liên hệ</h3>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>Tầng 3,4 - 98 Lạc Trung - Hai Bà Trưng - Hà Nội

              Tầng 8 - 185 Giảng Võ - Đống Đa - Hà Nội</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p><a >0975465730</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:airhuby.com@gmail.com">airhuby.com@gmail.com</a></p>
          </div>
        </div>

      </div>

      <!--<div class="form">-->
        <!--<div id="sendmessage">Your message has been sent. Thank you!</div>-->
        <!--<div id="errormessage"></div>-->
        <!--<form action="" method="post" role="form" class="contactForm">-->
          <!--<div class="form-row">-->
            <!--<div class="form-group col-md-6">-->
              <!--<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />-->
              <!--<div class="validation"></div>-->
            <!--</div>-->
            <!--<div class="form-group col-md-6">-->
              <!--<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />-->
              <!--<div class="validation"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />-->
            <!--<div class="validation"></div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>-->
            <!--<div class="validation"></div>-->
          <!--</div>-->
          <!--<div class="text-center"><button type="submit">Send Message</button></div>-->
        <!--</form>-->
      <!--</div>-->

    </div>
  </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 footer-info">
          <h3>Airhuby</h3>
          <p>Make it awesome with us!</p>
        </div>


        <div class="col-lg-6 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
          <address>Tầng 3,4 - 98 Lạc Trung - Hai Bà Trưng - Hà Nội </br>

            Tầng 8 - 185 Giảng Võ - Đống Đa - Hà Nội</address>
            <strong>Phone:</strong> 0975465730<br>
            <strong>Email:</strong> airhuby.com@gmail.com<br>
          </p>

          <div class="social-links">

            <a href="https://www.facebook.com/AirHuby-jsc-182683155678147/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>

          </div>

        </div>



      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      <p>
      Copyright © 2017. All Rights Reserved
      <a href="/" style=> Airhuby</a>
      </p>
    </div>
    <div class="credits">
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/superfish/hoverIntent.js"></script>
<script src="lib/superfish/superfish.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

</body>
</html>
